#############################
### Node.js
#############################

/coverage
/dist
/node_modules

#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode

#############################
### VCS
#############################

/.git
