#############################
### Workflow
#############################

/.env

#############################
### Node.js
#############################

/coverage
/node_modules
/npm-debug.log
/package-lock.json
/src-cjs
/src-js

#############################
### Docker
#############################

/docker-compose.override.yml

#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db
