#############################
### Node.js
#############################

/coverage
/node_modules
/src-cjs
/src-js

#############################
### VCS
#############################

/.git

#############################
### IDE
#############################

/*.code-workspace
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode

#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db
